<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="toggleSearchCustomer()">Toggle admin component in Search Customer from myNBG Wrapper</button>
  <button (click)="toggleCustomerPosition()">Toggle admin component in Customer Position from myNBG Wrapper</button>
  <h1>Outlets below:</h1>

  <a [routerLink]="['/searchcustomer']" >Search Customer  |||   </a>
  <a [routerLink]="['/customerposition']" >Customer Position  |||   </a>
  <a [routerLink]="['/wrappercomponent']" >Wrapper Component Core App Route</a>

  <router-outlet></router-outlet>
